[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
opencv-python = "*"
numpy = "*"
cvzone = "*"
mediapipe = "*"
playsound = "*"
opencv-python-headless = "*"
pyobjc = "*"
pygame = "*"
opencv-contrib-python = "*"

[dev-packages]

[requires]
python_version = "3.11"
